body {
    margin-top: 20px;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
}

.content {
    background-color: lightgray;
    width: 800px;
    text-align: center;
    margin-left: 100px;
}

.bg {
    background-image: url("https://mdbcdn.b-cdn.net/img/new/slides/026.webp");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: drop-shadow(8px 8px 10px black);
}

.list-group-item {
    background-color: lightgray;
}

tr {
    background-color: lightgray;
}

h1 {
    color: white;
}


label {
    color: white;
    text-shadow: 0 0 3px black;
}
