{% extends "base.html" %}

{% block content %}
  <h1>
    Username: {{ cook.username }}
    <a href="{% url 'restaurant:cook-update' pk=cook.id %}" class="btn btn-primary">Update years of experience</a>
    <a href="{% url 'restaurant:cook-delete' pk=cook.id %}" class="btn btn-danger">Delete cook</a>
  </h1>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Years Of Experience</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ cook.first_name }}</td>
      <td>{{ cook.last_name }}</td>
      <td>{{ cook.years_of_experience }}</td>
    </tr>
    </tbody>
  </table>

  <div>
    <h4 style="color: white">Dishes</h4>
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Dish Type</th>
      </tr>
      </thead>


      {% for dish in cook.dishes.all %}
        <tr>
          <td>{{ dish.id }}</td>
          <td>{{ dish.name }}</td>
          <td>{{ dish.dish_type.name }}</td>
        </tr>

      {% empty %}
        <p style="color: #007bff">No dishes!</p>
      {% endfor %}
    </table>
  </div>

{% endblock %}
