{% extends "base.html" %}

{% block content %}
  <div class="content">
    <h1 style="background-color: #343a40">Restaurant Kitchen Home</h1>
    <p>Welcome to the Restaurant Kitchen Service!</p>
    <h3>Dynamic content</h3>
      <p><strong>Dishes - {{ num_dishes }}</strong></p>
      <p><strong>Cooks - {{ num_cooks }}</strong></p>
      <p><strong>Dish Types - {{ num_dish_types }}</strong></p>
    <p>You have visited this page
      <strong>{{ num_visits }}</strong> time{{ num_visits|pluralize }}
    </p>
  </div>

{% endblock %}
